body {
    background-color: tan;
    color: black;
}

/* 992px bredde eller mindre */
@media screen and (max-width: 992px) {
    body {
        background-color: blue;
        color: white;
    }
}

/* 600px bredde eller mindre */
@media screen and (max-width: 600px) {
    body {
        background-color: olive;
        color: white;
    }
}